Source: osso-calculator-engine
Section: misc
Priority: optional
Maintainer: Mohammad Abu-Garbeyyeh <mohammad7410@gmail.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: osso-calculator-engine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OSSO Calculator Engine
 Calculator engine with most of the original functionalities.
